{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher | Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Teacher Dashboard</h1>
        <nav>
            <a href="{% url 'teacher_dashboard' %}">Home</a> |
            <a href="{% url 'create_cbt_test' %}">CBT Tests</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
